mat-form-field, mat-card-content button {
  width : 100%;
}

.outerDiv {
  height: 100vh;
  background-image: url(/assets/SHICHAT.png);
  background-size: cover;
}
.sec {
  width: 30%;
  margin: 5%;
}
