<div class="outerDiv" fxLayoutAlign="end start">
  <div class="sec" >
    <mat-card>
      <mat-toolbar color="primary">LOGIN</mat-toolbar><br>
      <mat-card-content>
        <form [formGroup]="userData" (ngSubmit)="login()">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" autocomplete="off" required>
            <mat-error *ngIf="userData.controls['username'].hasError('required')">
              You must Have to provide a username.
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input formControlName="Password" matInput [type]="hide ? 'password' : 'text'">
            <mat-error *ngIf="userData.controls['Password'].hasError('required')">
              Password is Required
            </mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <br>
          <button type="submit" mat-raised-button color="accent" [disabled]='userData.invalid'>Login</button>
        </form>
        <button mat-button color='warn' [routerLink]= "['/reg']">Not a member? Register Here</button>
      </mat-card-content>

    </mat-card>
  </div>
</div>
