<div class="outerDiv" fxLayoutAlign="end start">
  <div class="sec" >

    <mat-card>
        <mat-toolbar color="primary">SIGN UP</mat-toolbar><br>
      <mat-card-content>
        <form [formGroup]="loginData" (ngSubmit)="registerUser()">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" autocomplete="off" required>
            <mat-error *ngIf="loginData.controls['username'].hasError('required')">
              You must Have to provide a username.
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName= "Email" autocomplete="off" required>
              <mat-error *ngIf="loginData.controls['Email'].hasError('email') && !loginData.controls['Email'].hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="loginData.controls['Email'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Set your password</mat-label>
            <input formControlName="Password" matInput [type]="hide ? 'password' : 'text'">
            <mat-error *ngIf="!loginData.controls['Password'].hasError('required')">
              Password must be 6 characters long
            </mat-error>
            <mat-error *ngIf="loginData.controls['Password'].hasError('required')">
              Password is Required
            </mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <br>
          <button type="submit" mat-raised-button color="accent" [disabled]='loginData.invalid'>Register</button>
        </form>
        <button mat-button color='warn' [routerLink]= "['/']">Already a member? LOGIN here</button>
      </mat-card-content>

    </mat-card>
  </div>
</div>
