/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-dialog {
  color: white !important;
  background-color: green !important;
}

.error-dialog {
  color:  red;
}
  .mat-simple-snackbar-action {
      color: white !important;
  }


